* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/fundo.png');
    background-size: cover;
}

.container{
    height: 65vh;
    width: 40vw;
    margin-top: 8%;
    margin-left: 29%;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-icon .icon{
    font-size: 60px;
    color: #333;
}

#logo{
    margin-top: 1vh;
    width: auto;
    height: 20vh;
}

.form{
    text-align: left;
    margin-top: 9%;
}

label{
    display: block;
    margin-top: 15px;
    margin-left: 5.5%;
    font-weight: bold;
}

input{
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #ddd;
    margin-top: 5px;
    margin-left: 5%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons{
    display: flex;
    margin-top: 3vh;
    margin-right: 4vh;
    gap: 10px;
    justify-content: right;
}

#botao_voltar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 10px 16px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.icone_voltar img{
    height: 2vh;
}

.btn{
    padding: 0px 0px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    width: 30%;
}

.btn.delete{
    background-color: red;
    text-decoration: none;
    padding-left: 2.1vw;
    padding-top: 1.5vh;
}
.btn.delete:hover{
    background-color: rgb(22, 3, 3);
    color: #ffffff;
    text-decoration: none;
    padding-left: 2.1vw;
    padding-top: 1.5vh;
}

.btn.confirm{
    background-color: #004f94;
}

.btn:hover{
    opacity: 0.9;
}
