*{  
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html{
  height: 100vh;
  background: url('images/fundo.png') no-repeat center fixed;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#logo-icon{
  width: auto;
  height: 15vh;
  margin: -40px 0 20px auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.form-box {
    background-color: white;
    border-radius: 8px;
    padding: 80px 80px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    width: 50%;
    position: relative;
    border-top: 50px solid #f57c00;
}

.form-box h1{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: rgb(238, 238, 238);
  }
  
label{
    display: block;
    font-weight: bold;
    font-size: 30px;
  }

button {
  width: 12%;
  background-color: #ffffff;
  color: black;
  padding: 10px;
  border: solid black 1px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
    background-color: #f57c00;
    color: #ffffff;
}

#deletar:hover {
  background-color: red;
  color: #f4f4f4;
}
#Delete_adm{
  width: 10%;
  background-color: #ff2c2c;
  color: #f4f4f4;
  padding: 5px;
  border: solid black 1px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}
#Delete_adm:hover{
  background-color: #ffffff;
  color: black;
}
#Lista_adms{
  list-style: none;
}