<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Senac - Adicionar Palavra</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='envio_de_palavra.css') }}">
  <link rel="shortcut icon" href="../static/images/senac.png">
</head>
<body>
  <div class="container">
    <div class="form-box">
      <h1>CRIAR EXPRESSÃO</h1>
      <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" id="logo-icon"></a>
      <form method="POST">
        <label for="palavra">EXPRESSÃO</label>
        <input type="text" id="palavra" placeholder="Digite a expressão..." name="titulo" required>
        <label for="descricao">DEFINIÇÃO</label>
        <textarea id="descricao" placeholder="Digite sua definição..." name="descricao" required></textarea>
        <label for="url">URL DO VÍDEO</label>
        <input type="text" id="url" placeholder="Cole a url do vídeo incorporada aqui..." name="url" required>
        <label for="card">DESEJA UM CARD PARA O VÍDEO?</label>
        <select name="card" id="card" required>
          <option value="" disabled selected>ESCOLHA UMA OPÇÃO:</option>
          <option value="sim">SIM</option>
          <option value="nao">NÃO</option>
        </select>
        <button type="submit">ENVIAR</button>
      </form>
    </div>
  </div>

</body>
</html>