<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Senac - Perfil do Usuário/login</title>
    <link rel="stylesheet" href="../static/edit_user.css" />
    <link rel="shortcut icon" href="../static/images/senac.png">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" id="logo">
        <form class="form" method="POST">
            <label for="nome">Nome completo:</label>
            <input type="text" id="nome" placeholder="Digite seu nome" name="nome" value="{{ usuario['nome'] }}" required/>
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Digite seu email" name="email" value="{{ usuario['email'] }}" required/>
            <div class="buttons">
                <a href="{{ url_for('index') }}" id="botao_voltar"><span class="icone_voltar"><img src="{{ url_for('static', filename='images/icone_voltar.png') }}" alt="icone_voltar"></span><span class="texto_voltar">Voltar</span></a>
                <a href="/excluir_conta" class="btn delete">Excluir Cadastro</a>
                <button class="btn confirm" type="submit">Confirmar Alterações</button>
            </div>
        </form>
    </div>
</body>
</html>
