<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <link rel="shortcut icon" href="../static/images/senac.png">
    <title>Senac - Cadastrar</title>
</head>

<body class="fundo_senac">
    <main class="principal">
        <section class="container">
                <div class="banner_senac">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" id="logo"></a>
                    <h2>BEM-VINDO!</h2>
                    <h2>Cadastre outros usuários nesta página</h2>
                    <form method="POST" class="formulario">
                        <input type="text" name="nome" placeholder="Nome Completo*" required><br>
                        <input type="email" name="email" placeholder="E-mail*" required><br>
                        <input type="password" name="senha" placeholder="Senha*" minlength="8" required><br>
                        <input type="password" name="confirmar_senha" placeholder="Confirmar senha*" minlength="8" required>
                        <select id="opcao" name="tier" required>
                            <option value="" disabled selected>ESCOLHA O NÍVEL DE ACESSO DO USUÁRIO:</option>
                            <option value="0">MODERADOR</option>
                            <option value="1">ADMINISTRADOR</option>
                        </select>
                        <button type="submit">Cadastrar</button>
                    </form>
                </div>
        </section>
    </main>
</body>
</html>
